<div class="content" role="main">

  <div>
    <button (click)="testTap()">test tap operator and side effects</button>
    <button (click)="testIif()">test iif operator</button>
    <button (click)="testDefer()">test defer operator</button>
    <button (click)="testFinalize()">test finalize operator</button>
    <button (click)="testFinalizeWithUnSub()">test finalize with unsub operator</button>
    <button (click)="testMapOperators()">test map operators</button>
    <button (click)="testDistincOperator()">test distinc operator</button>
    <button (click)="testDistincWithSelectorFunc()">test distinc operator with selector function</button>
    <button (click)="testDiffBetweenMapAndPluck()">test different between map and pluck</button>
  </div>
  <!-- Define our template -->
  <ng-template #myTemplate> World!</ng-template>

  Hello
  <!-- Render the template in this outlet -->
  <ng-container [ngTemplateOutlet]="myTemplate"></ng-container>
  <div class="drag-exp">
    <app-test-component *ngFor="let component of testArr; let x = index" [component]="component"
                        [arrIndex]=x></app-test-component>
  </div>

</div>

<router-outlet></router-outlet>
