<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <input #str name="str">
  <button (click)="add(str.value)">Add</button>
  <ul>
    <li *ngFor="let str of array">
      {{ str }}
    </li>
  </ul>
  <h1>
    {{ array | reverse}}
  </h1>
  <input [(ngModel)]="test">
  <p>{{test}}</p> -->
<!-- <app-my-counter></app-my-counter>
<app-my-numbers></app-my-numbers> -->
<!-- <app-my-safe-decorator></app-my-safe-decorator> -->
<div class="nav">
  <button>
    <a routerLink="counter">Counter</a>
  </button>
  <button>
    <a routerLink="numbers">Numbers</a>
  </button>
  <button>
    <a routerLink="decorator">Decorators</a>
  </button>
  <button>
    <a routerLink="pipe">Pipes</a>
  </button>
</div>
<router-outlet></router-outlet>